
.heading
{
    width: 19%;
    margin: auto;
    margin-top: 10vh;
    text-decoration: underline;
    text-decoration-color: blueviolet;
    color: blue;
    text-align: center;
}

.allgames
{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 5vmin;
    justify-content: center;
}

.game
{
    height: 30vmin;
    width: 30vmin;
    object-fit: contain;
}

.game:hover
{
    transform: scale(1.2);
}
@media screen and (max-width:300px) {
    .game
    {
        height: 15vmin;
        width: 15vmin;
    }
    .allgames
    {
        margin: 1vmin;
    }
    
}