body
{
    background-color: beige;
}
.heading
{
    width: 19%;
    margin: auto;
    margin-top: 10vh;
    text-decoration: underline;
    text-decoration-color: blueviolet;
    color: blue;
    text-align: center;
    font-style: italic;
}

.allgames
{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 5vmin;
    justify-content: center;
}

.game
{
    height: 30vmin;
    width: 30vmin;
    object-fit: contain;
    border-radius: 50%;
    border: 1px solid;
}

.game:hover
{
    transform: scale(1.2);
}
@media screen and (max-width:300px) {
    .game
    {
        height: 20vmin;
        width: 20vmin;
    }
    .allgames
    {
        margin: 1vmin;
        width: 40vmin;
    }
    
}