body
{
    word-break: keep-all;
    background-color: beige;
}
.rules
{
    width: 70vw;
    margin: auto;
    font-size: x-large;
}
.gamename
{
    width: 40vw;
    text-decoration: underline;
    text-decoration-color: blueviolet;
    color: blue;
    margin: auto;
    text-align: center;
    font-style: italic;
}
.main
{
    width: 50vw;
    height: 50vh;
    padding: 0;
    margin: auto;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    gap: 2vmin 2vmin;
}
.box
{
    background-color:bisque;
    border: 1px solid black;
    border-radius: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    height: 100%;
    font-size:xx-large;
    font-weight: bolder;
}
.box:hover
{
    transform: scale(1.1);
}
.reset
{
    display:block;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    background-color: rgb(162, 152, 152);
    text-decoration: none;
    color: black;
    width: 40px;
    min-height: 2vh;
    padding: 5px;
    margin: auto;
    margin-bottom: 2vh;
    margin-top: 2vh;
}
.reset:hover
{
    background-color: lightgreen;
}
.result
{
    width: 60vw;
    margin: auto;
    font-size: large;
}
@media screen and (max-width:500px) {
    .rules
    {
        font-size: medium;
        font-weight: 500;
    }
    .main
    {
        width: 90%;
        /* height: 100%; */
    }
    .gamename
    {
        width: 70vw;
        font-size: larger;
    }
}