*
{
    margin: 0;
    padding: 0;
}
.heading
{
    /* border: 2px solid black; */
    text-decoration: underline;
    text-decoration-color:blueviolet ;
    color: blue;
    width: 50vw;
    text-align: center;
    margin: auto;
    margin-top: 10vh;
}
.images
{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    margin: auto;
    margin-top: 10vh;
}
.image
{
    width: 15vw;
}
.image:hover
{
    transform: scale(1.2);
}
.ans
{
    width: 40vw;
    text-align: center;
    /* border: 2px solid; */
    font-size: larger;
    /* height: 20px; */
    margin: auto;
    margin-top: 4vh;
}
.score
{
    display: flex;
    gap: 20px;
    width: 50vw;
    font-size: large;
    /* border: 1px solid; */
    margin: auto;
    margin-top: 2vh;
    justify-content: space-evenly;
}
@media screen and (max-width:500px) {
    .ans
    {
        font-size: medium;
        width: 70vw;
    }
    .score
    {
        display: block;
        border: 1px solid;
        text-align: center;
        width: 70vw;
    }
}